# requirements.txt
fastapi
uvicorn
slack-bolt
slack-sdk
langchain
langchain-openai
langchain-community
python-dotenv
pinecone-client
pydantic
pydantic-settings
google-cloud-firestore
openai
email-validator
langchain-pinecone
python-multipart